APP_NAME=SupportHR Backend
FRONTEND_ORIGIN=http://localhost:3000
GEMINI_MODEL=gemini-flash-latest
GEMINI_EMBEDDING_MODEL=gemini-embedding-001
GEMINI_API_KEY_1=
GEMINI_API_KEY_2=
FIREBASE_PROJECT_ID=gen-lang-client-0595612537
FIREBASE_WEB_API_KEY=
FIREBASE_AUTH_DOMAIN=gen-lang-client-0595612537.firebaseapp.com
FIREBASE_DATABASE_URL=https://gen-lang-client-0595612537-default-rtdb.firebaseio.com
FIREBASE_STORAGE_BUCKET=gen-lang-client-0595612537.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=1022447215307
FIREBASE_APP_ID=1:1022447215307:web:5fbf39694b90d420d2314e
FIREBASE_MEASUREMENT_ID=G-9YGZ8Z594C
FIREBASE_APPCHECK_SITE_KEY=6LfPgyksAAAAAFZUVhfmSQ_4XuOVU3c-G2KJGnXH
GOOGLE_API_KEY=
GOOGLE_PICKER_API_KEY=
GOOGLE_CLOUD_VISION_API_KEY=
